.breadcrumbs {
  margin-top: 20px;
  display: inline-flex;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;

  &__list {
    display: flex;
  }

  &__item {
    color: #828282;
    padding-right: 30px;
    position: relative;

    &::after {
      content: "/";
      position: absolute;
      right: 10px;
      top: 6px;
      font-size: 18px;
      line-height: 17px;
      color: #828282;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}