@font-face {
  font-family: 'Gilroy-Light';
  src: local('Gilroy-Light'),
    url('../fonts/Gilroy-Light.woff') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.woff') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'),
    url('../fonts/Gilroy-Medium.woff') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: local('Gilroy-Semibold'),
    url('../fonts/Gilroy-Semibold.woff') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.woff') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Extrabold';
  src: local('Gilroy-Extrabold'),
    url('../fonts/Gilroy-Extrabold.woff') format('woff2'),
    url('../fonts/Gilroy-Extrabold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}


