<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>


  {% include 'app/module/_header-top/_header-top.html' %}





  <div class="breadcrumbs__box">
    <div class="container">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Главная страница
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Жилое
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <main>








  </main>








{% include 'app/module/_footer/_footer.html' %}
  

  <script src="js/main.min.js"></script>
</body>

</html>