.blog-one {
  &__inner {
    margin: 145px 0;
  }

  &__title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
  }

  &__slider {
    display: flex;
    justify-content: space-between;
    position: relative;

    .slick-arrow {
      border: none;
      background: transparent;
      position: absolute;
      top: -57px;
      cursor: pointer;
    }

    .slick-prev {
      right: 70px;
      z-index: 2;
    }

    .slick-next {
      right: 0px;
    }

    .slick-list {
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .slick-slide {
      float: left;
      margin: 0 10px;
      cursor: pointer;
    }

    .slick-dots {
      position: absolute;
      display: flex;
      top: -50px;
      right: 30px;

      li {
        button {
          font-size: 0;
          line-height: 0;
          border: transparent;
          background: transparent;
          color: transparent;
          display: none;
        }

        &:nth-child(5) {
          button {
            font-size: 16px;
            line-height: 16px;
            color: #cb8734;
            display: block;
          }
        }

        &:nth-child(5)::before {
          content: "/";
          position: absolute;
          bottom: 0;
          right: 15px;
          font-size: 16px;
          line-height: 16px;
          color: #cb8734;
        }

        &.slick-active {
          button {
            font-size: 16px;
            line-height: 16px;
            color: #cb8734;
            display: block;
          }
        }

        &:nth-child(5).slick-active::after {
          content: "5";
          position: absolute;
          font-size: 16px;
          line-height: 16px;
          color: #cb8734;
          bottom: 1px;
          right: 25px;
        }
      }
    }
  }

  &__box {
    position: relative;
  }

  &__img {
    border-radius: 0px 36px;
    margin-bottom: 25px;
  }

  &__span {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 11px;
    line-height: 12px;
    @extend %gilroy-700;
    padding: 11px 20px;
    background: #cb8734;
    border-radius: 4px;
    color: #fff;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 30px;
    color: $default;
    @extend %gilroy-400;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    @extend %gilroy-300;
  }
}

.ceo {
  &__clider {
    .slick-arrow {
      border: none;
      background: transparent;
      position: absolute;
      bottom: 6%;
      cursor: pointer;
    }

    .slick-prev {
      right: 263px;
      z-index: 2;
    }

    .slick-next {
      right: 203px;
    }

    .slick-list {
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1170px;
    }

    .slick-slide {
      float: left;
      margin: 0 10px;
      cursor: pointer;
    }

    .slick-dots {
      position: absolute;
      display: flex;
      bottom: 35px;
      right: 20%;

      li {
        button {
          font-size: 0;
          line-height: 0;
          border: transparent;
          background: transparent;
          color: transparent;
          display: none;
        }

        &:nth-child(5) {
          button {
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            display: block;
          }
        }

        &:nth-child(5)::before {
          content: "/";
          position: absolute;
          bottom: 0;
          right: 15px;
          font-size: 16px;
          line-height: 16px;
          color: #fff;
        }

        &.slick-active {
          button {
            font-size: 16px;
            line-height: 16px;
            color: #fff;
            display: block;
          }
        }

        &:nth-child(5).slick-active::after {
          content: "5";
          position: absolute;
          font-size: 16px;
          line-height: 16px;
          color: #fff;
          bottom: 1px;
          right: 25px;
        }
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    line-height: 48px;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 15px;
    line-height: 30px;
    @extend %gilroy-300;
    width: 535px;
    margin-bottom: 20px;
  }

  &__img {
    border-radius: 0px 100px;
  }
}